* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Serif Text", sans-serif;
}

header {
  padding: 50px;
  background-color: #16262e;
  color: #fff;
}

body {
  background-color: #f7f7f7;
  color: #16262e;
}
